/*SECCION CONTACTO*/

body div.container-contacto {
    display: flex;

    section.mapa {
        margin: 10px;
    }

    section a p {
        margin-left: 10px;
        word-spacing: 5px;
        color: black;
    }
}

body section div div.seccion-contacto {
    display: flex;
}
.contactate {
    margin-top: 25px;
}

.tamaño-h {
    font-size: 35px;
    background-color: nth($colores, 2);
}

/*QUERY MAPA*/

@media only screen and (min-width:370px) and (max-width:960px) {
    body div.container-contacto section iframe {
        width: 350px;
        height: 200px;
    }
}