%servicios {
    display: flex;
    // background-color: #e6e5e595;
    background-color: rgba(255, 255, 255, 0.239);
    margin: 15px;
}

%fila-galeria {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}